<div class="row">
  <div class="col-md-3 nav-fixed">


    <div class="row">
      <div class="col-md-12">
        <!-- Begin user profile -->
        <div class="box box-widget widget-user">
          <div class="widget-user-header bg-aqua">
            <h3 class="widget-user-username">Alexander Pierce</h3>
            <h5 class="widget-user-desc">Founder &amp; CEO</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User Avatar">
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <h5 class="description-header">3,200</h5>
                  <span class="description-text">POSTS</span>
                </div>
              </div>
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <h5 class="description-header">13,000</h5>
                  <span class="description-text">COMMENTS</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="description-block">
                  <h5 class="description-header">35</h5>
                  <span class="description-text">TOTAL</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="pad-ver text-center">
                  <button class="btn btn-primary">Pseudo</button>
                  <button class="btn btn-primary">Avatar</button>
                  <button class="btn btn-primary">Pseudo</button>
                  <button class="btn btn-primary">Poste</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="box box-widget widget-user-2">
          <div class="widget-user-header bg-yellow">
            <h3 class="widget-user-username">Nos meilleurs bloggers !!!</h3>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
              <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
              <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
              <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info panel-widget">
          <div class="panel-title text-center">
            Team Members
          </div>
          <div class="panel-body">
            <ul class="basic-list image-list">
              <li><img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="img" class="img"><b>John Doe</b><span class="desc">Designer</span></li>
              <li><img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="img" class="img"><b>Sarah Smith </b><span class="desc">Front-End Developer</span></li>
              <li><img src="http://bootdey.com/img/Content/avatar/avatar3.png" alt="img" class="img"><b>Stephen Doe</b><span class="desc">Back-End Developer</span></li>
              <li><img src="http://bootdey.com/img/Content/avatar/avatar4.png" alt="img" class="img"><b>Kendra Hall</b><span class="desc">Marketing</span></li>
              <li><img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="img" class="img"><b>Mark Doe</b><span class="desc">iOS Developer</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-9">
    <%= react_component "Store", current_user: current_user %>
  </div><!--testimonials row-->

</div>
