<div class="container">
  <div class="row">
    <div class="col-md-12 panneau-accueil vertical-center">
      <div class="row">
        <div class="col-md-6" style="border-right: 1px solid #fff">
          <div class="header-content-inner">
            <h1>Démos en ReactRB</h1>
            <hr>
              <p>
                Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!
              </p>
              <a href="#about" class="btn btn-primary btn-xl page-scroll">Sources Github</a>
              <a href="#about" class="btn btn-primary btn-xl page-scroll">Sources Github</a>
              <a href="#about" class="btn btn-primary btn-xl page-scroll">Sources Github</a>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-1">
            <%= render 'devise/registrations/new.html.erb' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
