/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* =============================== */
 /* ========== $General =========== */
 /* =============================== */


body {
  background-color: #f1f1f1!important;
  // font-family: 'Roboto', sans-serif;
  // font-weight: 300;
  padding-top: 60px;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif!important;
}
hr {
  border-color: #F05F40!important;
  border-width: 3px!important;
  max-width: 50px!important;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}
a:hover,
a:focus {
  color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif!important;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.login-devise {
  background-image: url("header.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.nav-fixed {
  position: absolute;
}

.margin-form-comment {
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #F3F3F3
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif!important;
  border: none!important;
  border-radius: 300px!important;
  font-weight: 700!important;
  text-transform: uppercase!important;
}
.btn-xl {
  padding: 15px 30px!important;
}

.btn-primary {
  color: white!important;
  background-color: #F05F40!important;
  border-color: #F05F40!important;
  -webkit-transition: all 0.35s!important;
  -moz-transition: all 0.35s!important;
  transition: all 0.35s!important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white!important;
  background-color: #ee4b28!important;
  border-color: #ed431f!important;
}


/* =============================== */
/* ========== $HomePage ========== */
/* =============================== */

.panneau-accueil {
	color: white;
  position: absolute!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 100px 15px 100px;
    // max-width: 1170px;

  .damned {
    background-color: rgba(0, 0, 0, 0.6);

    h1 {
      font-size: 60px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 80px;
      margin-bottom: 40px;
    }
  }

  .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
  }

  .header-content-inner hr {
    margin: 30px auto;
  }

  .header-content-inner p {
    font-size: 18px;
    font-weight: 300;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .field, .actions {
    margin-top: 20px;
  }

  h2 {
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
    font-style: italic;
  }

}
