/* =============================== */
/* =========== $Posts ============ */
/* =============================== */




.margin-btm-20 {
  margin-top: 20px;
}

.quote {
  position: relative;
}

.quote blockquote {
  padding: 0px;
  border: 0;
  margin: 0;
  font-size: 14px;
  font-style: italic;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;

  .form-control {
    width: 85%!important;
    margin-left: 90px;
  }

  .badge {
    padding: 8px!important;
    margin-top: 25px!important;
  }
}

.quote blockquote p {
  color: #fff;
  // padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 90px;
  padding-right: 30px;
}

.post-paragraphe {
  padding-top: 15px;
  padding-bottom: 0!important;
}

.para-edit-post {
  padding-bottom: 0px!important;
  font-style: italic!important;
}

.post-button {
  margin-top: 25px!important;
  margin-left: 10px!important;
}

.quote blockquote:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 90px;
  width: 0;
  height: 0;
  border-top: 0.83333em solid #ccc;
  border-right: 0.86667em solid transparent;
}

.quote.green blockquote {
  background-color: #32c5d2;
}

.quote.green blockquote:before {
  border-top-color: #32c5d2;
}

.quote-footer {
  margin: 10px 0;
}

.quote-footer .quote-author-img img {
  background-image: url("http://bootdey.com/img/Content/avatar/avatar5.png");
  background-size: contain;
  float: left;
  max-width: 90px;
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-left: -5px;
  margin-top: -70px;
  position: relative;
  z-index: 1;
  padding: 5px;
  border: 2px solid #fff;
}

.quote-footer h4 {
  margin-bottom: 15px;
}



/* =============================== */
/* ========== $Comments=========== */
/* =============================== */

.chat {
  margin-bottom: 15px;

  .fa {
    font-size: 1.5em;
    float: left;
    margin-right: 15px;
  }
  .fa:hover {
    cursor: pointer;
  }
}

.chat-body .answer {
    position: relative;
    min-width: 70%;
    max-width: 90%;
    overflow: hidden;
    clear: both;
}

.chat-body .answer .avatar {
    bottom: 0;
}
.chat .avatar {
  background-image: url("http://bootdey.com/img/Content/avatar/avatar2.png");
  background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 20px;
}
.chat .avatar img {
  display: block;
  border-radius: 20px;
  height: 100%;
}
.chat-body .answer .name {
    font-size: 14px;
    line-height: 36px;

    p {
      margin-bottom: 0;
    }
}

.chat-body .answer .text {
    padding: 12px;
    font-size: 16px;
    line-height: 26px;
    position: relative;

    button {
      margin-left: 10px;
    }
}

.chat-body .answer .text:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border: 18px solid transparent;
    border-bottom-width: 0;
}

.chat-body .answer.right {
    padding: 0 58px 0 0;
    text-align: right;
    float: right;
}

.chat-body .answer.right .avatar {
    right: 0;
}

.chat-body .answer.right .text {
    background: #7266ba;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}
.chat-body .answer.right .text:before {
    right: -30px;
    border-left-color: #7266ba;
    border-left-width: 12px;
}

.para-comment-edit {
  margin-top: 15px;
}

.margin-form-comment {
  margin-top: 10px;
  margin-bottom: 60px;
}



/* =============================== */
/* ======== $Team Members ======== */
/* =============================== */


.container-widget .panel {
    margin-bottom: 15px;
    border-radius: 0px;
    border: 1px #e6e9ee solid;
}

.panel-info {
    background: #3f51b5!important;
    color: #fff;
}

.panel-widget {
    overflow: hidden;
    border: none;
}

.panel .panel-title {
    color: #58666e;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0px;
}
.panel-title {
    font-family: 'Montserrat', sans-serif;
    color: #58666e;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 16px 20px;
    margin: -20px;
    background: #fff;
    margin-bottom: 5px;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    letter-spacing: 1px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.basic-list {
    margin-bottom: 0;
    padding: 0;
}

.basic-list {
  margin-bottom: 0;
  padding: 0;
}
.basic-list li {
  display: block;
  position: relative;
  padding: 12px 0;
}
.basic-list li:last-child {
  border-bottom: none;
}

.image-list li {
  padding-left: 20px;
}
.image-list li img {
  background-image: url(http://bootdey.com/img/Content/avatar/avatar1.png);
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  border-radius: 0px;
}
.image-list .desc {
  font-size: 12px;
  opacity: 0.8;
  display: block;
}











/* =============================== */
/* ========== $ =========== */
/* =============================== */


.box-widget {
    border: none;
    position: relative;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.widget-user .widget-user-header {
    padding: 20px;
    height: 120px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.bg-yellow {
    background-color: #f39c12 !important;
}
.bg-blue {
    background-color: #0073b7 !important;
}
.bg-aqua {
    background-color: #00c0ef !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-red {
    background-color: #dd4b39 !important;
}
.widget-user .widget-user-username {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    color:#fff;
}
.widget-user .widget-user-desc {
    margin-top: 0;
    color:#fff;
}

.widget-user .widget-user-image {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -45px;
}
.widget-user .widget-user-image>img {
    width: 90px;
    height: auto;
    border: 3px solid #fff;
}
.widget-user .box-footer {
    padding-top: 30px;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}
.box .border-right {
    border-right: 1px solid #f4f4f4;
}
.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.description-block>.description_header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
}
.description-block>.description_text {
    text-transform: uppercase;
}























.pad-ver {
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid #F1F1F1;

    .btn {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 0;
    border: 1px solid 0;
    font-size: 11px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .25s;
    transition: all .25s;
  }
}
