// Place all the styles related to the navigation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-inverse {
  border-radius: 0!important;
  // background-color: transparent!important;
  border-color: rgba(34, 34, 34, 0.05)!important;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif!important;
  -webkit-transition: all 0.35s!important;
  -moz-transition: all 0.35s!important;
  transition: all 0.35s!important;

  .fa {
    margin-right: 10px;
  }
}

.navbar-brand {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif!important;
  font-weight: 700!important;
  text-transform: uppercase!important;
  font-size: 25px!important;
}
