<div class="row">
  <div class="col-md-12 panneau-accueil vertical-center">
    <div class="damned">
      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <div class="header-content-inner">
            <img class="img-responsive" src="http://bootdey.com/img/Content/fdfadfadsfadoh.png">
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <h1>666 !!! Damned !!!</h1>
          <h2>Cette partie sera développée prochainement.</h2>
        </div>
      </div>
    </div>
  </div>
</div>
